body{
  background-color: whitesmoke;
}
p1{
  color: black;
  font-size: 60px;
  font-style: italic;
  margin-left: 70px;
  
}
p2{
  font-style: italic;
  margin-left: 50px;
  font-size: 20px;
  color: black;
}
h1{
  color: black;
  margin-left: 50px;
}
a{
  color:black;
  margin-left: 100px;
}
label{
  color: black;
  margin-left: 15px;
  margin-right: px
}
button{
  background-color: white;
  margin-right: 150px;
  margin-left: 150px;
}
